/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 /*===== 网站通用设置 ======*/
 body {
   overflow-x: hidden; //裁切页面内容，超出视窗不显示
   letter-spacing: 1px; //文字间距
   font-size: 14px; //文字大小
   position: relative; //设定为相对位置

   a {
     text-decoration:none !important; //文字连结移除底线
   }

   /*===== xxx頁面內容設定 ======*/
   .container-fluid {
     margin-top: 55px;
     min-height: 550px;
   }

   /*===== xxx換頁按鈕設定 ======*/
   .page-box {
     margin-top: 75px;

     a {
       background-color: #eee;
     }

     a:hover {
       background-color: #ddd;
       color: #666 !important;
     }
   }

   /*===== xxx基礎欄位設定 ======*/
   .width-25 {
     width: 25%;
   }

   .width-50 {
     width: 50%;
   }

   .width-75 {
     width: 75%;
   }

   .width-100 {
     width: 100%;
   }

   .height-200 {
     height: 200px;
   }

   th {
     vertical-align: middle !important; // 表格標題垂直置中
   }

   td {
     height: px;
     vertical-align: middle !important; // 表格內容垂直置中
   }


   /*===== xxx立即選購按鈕 ======*/
   .buy-box {
     text-align: center;
     margin: 50px auto 0 auto;
     color: #02061A;

     .btn-default {
       margin-top: 30px;
       padding: 15px 20px 15px 20px;
     }

     .btn-default:hover,
     .btn-default:active,
     .btn-default:focus {
       background-color: #fff;
     }

     .suggested-product-content{
       text-align: center;
       margin: 20px 0px 20px 0px;

       img {
         margin: auto;
         max-width: 200px;
       }
     }
   }

   /*===== xxxDIV排版 ======*/
   .left-box {
     float: left;
   }

   .right-box {
     float: right;
   }
 }

 /*===== Navbar 导览列 ======*/
 .navbar.navbar-default {
   background: rgba(0,0,0,0.3);
   color: #000 !important;

   a:hover,
   a:active,
   a:focus {
     color: #eb5424 !important;
   }

   &.show_bgcolor {
     background-color: #02061A;
   }

   /*===== Logo ======*/
   .logo-box {
     margin-right: 15px;
     font-family: 'Oswald', sans-serif; /* Google字型 */
     font-size: 20px;

     img {
       display: inline-block;
       margin-top: -6px;
       margin-right: 8px;
       margin-left: 30px;
       width: 30px;
       height: 30px;
       border: 2px solid #ffffff; /* Logo 外框 */
       border-radius: 25px; /* Logo 切成圓形 */
     }
   }

   /*===== Dropdown ======*/
   .dropdown-menu{
     background-color: #fff;
     min-width: 175px;
     // box-shadow: 0 5px 10px #aaa;

     a {
       color: #000;
       padding: 8px 17px;
     }

     a:hover {
       background-color: #f0f0f0;
       color: #eb5424 !important;
     }
   }

   /* 下拉選單三角箭頭 */
   .dropdown-menu:before {
     content: "";
     border-bottom: 10px solid #fff;
     border-right: 10px solid transparent;
     border-left: 10px solid transparent;
     position: absolute;
     top: -10px;
     right: 16px;
     z-index: 10;
   }

   /* 搜索欄 */
   .search-box {
     margin-top: 7.5px;
     input {
       height: 35px;
     }

     input:focus {
       border: 2px solid #ccc;
     }

     button {
       background-color: #fff;
       border: 1.5px solid #fff;
       padding: 5px 10px 5px 10px;
       height: 35px;
       color: #333;
     }
   }
 }

 /*===== Footer 页脚 ======*/
 .footer{
   text-align: center;
   min-height: 200px;
   background-color: #02061A;
   padding: 15px 0;
   color: #fff;
   font-size: 14px;

   h4 {
     font-size: 16px;
     margin-top: 25px;
     margin-bottom: 15px;
   }

   li {
     margin-top: 5px;
   }

   a {
     text-decoration:none;
     color: #ccc;
   }

   a:hover,
   a:active,
   a:focus {
     color: #eb5424;
   }

   img {
     display: inline-block;
     margin-top: -6px;
     margin-right: 8px;
     width: 30px;
     height: 30px;
     border: 2px solid #ffffff; /* Logo 外框 */
     border-radius: 25px; /* Logo 切成圓形 */
   }

   p {
     a {
       color: #ddd;
     }
     a:hover {
       color: #eb5424;
     }
   }

   .footer-box {
     text-align: left !important;
     margin-top: 15px;
   }

   .footer-content {
     font-size: 16px;
     font-family: Raleway;
     color: #ddd;
     letter-spacing: 1px;
     margin-top: 10px;
     font-weight: 200;

     img {
       width: 25px;
       margin-left: 7.5px;
       margin-right: -0.1px;
     }

     img:hover {
       opacity: 1;
     }
   }
 }

 /*===== 首页通用设置 =====*/
 .welcome-box {
   /* 副标题 */
   h2 {
     font-size: 24px;
     font-weight: 600;
   }

   /* 短分隔线 */
   .short-line {
     background: #0070DE;
     margin: 15px auto 30px auto;
     width: 150px;
     height: 1.5px;
   }

   /* 按钮 */
   .btn-push {
     background-color: transparent;
     color: #fff;
     background-color: rgba(0, 0, 0, 0.5); //半透明背景
     padding: 10px 20px;
     font-size: 20px;

     /* 显示特效 */
     -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -ms-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
   }

   /* 按钮-鼠标滑动效果 */
   .btn-push:hover {
     background-color: #0070DE;
     border-color: #0070DE;
   }

   /* 按钮-回到顶端 */
   .goTop {
     height: 35px;
     width: 35px;
     background-color: #fff;
     border-radius: 5px;
     position: fixed;
     top: 80%;
     right: 35px;
     box-shadow: 1px 1px 3px #666;

     span {
       color: #000;
       position: absolute;
       top: 7px;
       left: 8px;
       font-size: 20px;
     }
   }

   .goTop:hover {
     background-color: #f0f0f0;

     span{
       color: #0070DE;
     }
   }
 }

 /*===== Intro 首页-广告轮播 =====*/
 .intro-box {
   /*===== 轮播内容 =====*/
   .item {
     /* 标题 */
     h3 {
       margin-top: -40%; //标题高度
       font-size: 50px; //文字大小
       letter-spacing: 5px; //文字间距
     }

     /* 内文 */
     p {
       font-size: 20px;
     }

     /* 图片 */
     img {
       width: 100%;
     }
   }

   /*===== 换页按钮 =====*/
   .carousel-control {
     span {
       margin-top: 145%; //按钮高度
       font-size: 50px; //按钮大小
     }
   }
 }

 /*===== Story 首页-品牌故事 =====*/
 .story-box {
   background-color: #fff;
   text-align: center;
   padding: 25px 62.5px 50px 62.5px; //板块间隔

   /* 标题 */
   h3 {
     font-size: 20px;
     text-align: left;
   }

   /* 内文 */
   p {
     color: #333;
     line-height: 24px;
     text-align: justify;
   }

   /* 图片 */
   img {
     width: 150px;
     border-radius: 50%;
   }

   /* 分隔线 */
   hr {
     height: 1.5px;
     background-color: #666;
   }
 }

 /*===== Categories 首页-商品分类 =====*/
 .categories-box {
   background-color: #f8f8f8;
   text-align: center;

   /* 图片 */
   img {
     width: 300px;
   }

   /*===== Content 分类內容 =====*/
   .category-content {
     padding: 50px 0 0 0;

     /* 标题 */
     h3 {
       padding: 20px 0 20px 0;
       font-size: 18px;
     }

     /* 内文 */
     p {
       padding: 0 62.5px 50px 62.5px;
       text-align: justify;
       color: #666;
     }
   }
 }

 /*===== Show 首页-推荐商品 =====*/
 .show-box {
   background-color: #fff;
   text-align: center;
   padding: 50px 0 50px 0;

   /* 图片 */
   img {
     width: 100%;
   }

   /* 图片区块 */
   .box {
     margin-top: 15px;
     box-shadow: 2px 2px 5px #888;
   }

   /* 图片区块-鼠标滑动效果 */
   .box:hover {
     opacity: 0.6;
   }

   /* 文字区块 */
   .content {
     margin-top: 15px;
     color: #000;
   }
 }

 /*===== Brands 首页-合作伙伴 =====*/
 .brand-box {
   background-color: #f8f8f8;
   text-align: center;
   padding: 50px 0 50px 0;

   /* 图片 */
   img {
     margin: 10px 15px 10px 15px;
     width: 150px;
   }
 }

 /*===== Push 首页-立即购买 =====*/
 .push-box {
   text-align: center;
   padding: 75px 0 0 0;
   height: 200px;
   background: image_url("start.jpg") no-repeat scroll top center/ cover;
 }

 /*===== Product 產品 =====*/
 .product-box {
   text-align: center;
   padding: 0 0 100px 0;

   .background-image {
     width: 100%;
     margin-bottom: 20px;
   }

   a {
     color: #666 !important;
   }

   .btn {
     background-color: #fff;
     margin: 0 10px 0 10px;
   }

   .btn:hover,
   .btn:focus {
     color: #eb5424;
   }

   .dropdown-menu {
     li {
       min-width: 200px;
       padding: 2.5px 0 2.5px 0;
     }

     li:hover {
       a {
         background-color: #f0f0f0 !important;
       }
     }
   }

   a:hover {
     color: #eb5424 !important;

     img {
       opacity: 0.75;
     }
   }

   .search-error {
     margin: 150px 0 150px 0;
   }

   /*===== 產品列表內容設置 =====*/
   .product-content {
     img {
       width: 100%;
       margin: 7.5px auto 7.5px auto;
     }

     h2 {
       margin-top: 150px;
     }


   }



   .product-info {
     text-align: left;
     line-height: 14px;
     min-height: 55px;
   }

   /*===== 產品路徑設置 =====*/
   .path-box {
     text-align: left;
     height: 20px;

     .right-box {
       button {
         margin: -15px 0 -15px 0;
         padding: 7.5px 10px 7.5px 10px;
         border: 2px solid #666;
         color: #333;
       }

       button:focus {
         background-color: #fff;
         color: #333;
       }

       ul {
         margin-top: 15px;
       }
     }
   }

   /*===== 產品顏色設置 =====*/
   .color-circle {
     button {
       border: none;
       outline: none;
       border-radius: 25px;
       color: #ffffff;
       padding: 10px 10px 10px 10px;
       margin: 0px 2px 0px 2px;
     }

     button:active {
       outline: none; //點擊不顯示外框
     }
   }

   /*===== 精選商品圖示 =====*/
   .chosen-box {
     position: absolute;
     border-radius: 45px;
     top: 22px;
     left: 27px;
     width: 45px;
     height: 45px;
     padding-top: 11px;
     color: #fff;
     background-color: #02061A;
     border: 2.5px solid #999;
     opacity: 0.85;
     z-index: 1;
   }

   .location {
     top: 15px;
     left: 30px;
   }
 }

 /*===== 產品信息區塊設置 =====*/
 .product-show {
   margin: 0 0 100px 0;

   /*===== 產品圖片區塊設置=====*/
   .product-image {
     .image-box {
       padding: 7.5px;
     }

     .main-image {
       width: 100%;
       margin-bottom: 10px;
     }

     .list-image {
       width: 100%;
     }

     .list-image-active {
       box-shadow: 1.5px 1.5px 1.5px #666;
     }
   }

   /*===== 產品介紹區塊設置 =====*/
   .product-detail {
     // padding: 0 25px 0 25px;
     text-align: left;

     h1 {
       margin-top: 5px;
       font-size: 24px;
     }

     h3 {
       font-size: 20px;
       margin-bottom: 25px;
     }

     hr {
       border: 0;
       border-bottom: 1px dashed #aaa;
       margin: 30px 0 30px 0;
     }

     img {
       width: 17.5px;
     }

     div {
       display: block;
     }

     .price {
       height: 60px;
     }

     .currency {
       margin: 10px 0 0 0;

       button {
         margin-right: -10px;
       }

       ul{
         margin-top: -5px;
       }
     }

     .wish {
       margin-left: 15px;
       font-weight: 600;
     }

     .share {
       margin-right: 15px;
     }

     /*===== 按鈕設置 =====*/
     .btn-default {
       margin-top: 25px;
       width: 100%;
       color: #666;
     }

     .btn-default:hover {
       background-color: #fff;
       border-color: #eb5424;
       color: #eb5424;
     }

     .quantity-box {
       height: 20px;

       .quantity-input {
         width: 50px;
         text-align: center;
         border: 1px solid #ccc;
         border-radius: 2.5px;
         outline: none;
       }

       .quantity-input:focus {
         border: 1px solid #000;
       }

       .quantity-actions {
         padding: 2.5px 10px 2.5px 10px;
         border: 1px solid #ccc;
         border-radius: 2.5px;
       }

       .quantity-actions:hover {
         border: 1px solid #eb5424;
       }

       .quantity-none {
         color: #999;
         font-weight: 500;
       }
     }

   }
 }

 .suggest-box {

   hr.suggest {
     margin: 80px auto 0px auto;
     max-width: 250px;
     border-bottom: 2px double #8c8b8b !important;
     text-align: center;
   }

   hr.suggest:after {
     content: 'BEST MATCHES';
     display: inline-block;
     position: relative;
     top: -14px;
     padding: 0 10px;
     background: #fff;
     font-size: 18px;
   }

   img {
     margin: 30px auto 0px auto;
     width: 110px !important;
   }

 }
